.header-main{
    background-color: #1F2937;
}

.testimonial-content{
    background-color: #e5e5e7eb;
}

.signup-conteiner{
    background-color: #3882f6;
}

.footer{
    background-color: #1F2937;
}

